*
{

	margin: 0;
	padding: 0;
	
}

header 
{
	
	background-image:url(kran.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	
}

.main-nav
{
	
	float: right;
	list-style: none;
	margin-top: 30px;
	
}

.main-nav li 
{
	
	display: inline-block;
	
}

.main-nav li a
{
	
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "roboto", sans-serif;
	font-size: 45px;
	
}


.main-nav li.active a
{
	
	border: 1px solid white;
	
}

.main-nav li a:hover
{
	
	border: 1px solid white;
	
}

.logo 
{
	
	float: right;
	
}

img 
{
	
	height: 100px;
	width: 250px;
	
}

.center 
{
	
	text-align: center;
	
}

p 
{
	
	text-align: center;
	
	font-family: "roboto", sans-serif;
	
	

}

.block 
{
	border: 2px solid white;
	display: inline-block;
	border-radius: 10px;
	
}

.rubrik 
{
	
	font-size: 38px;
	color: white;
	
}

.texten 
{
	
	color: white;
	font-size: 25px;
	
}

.intro
{
position:fixed;
left:0;
top:0;
layer-background-color:black;
background-color:black;
border:0.1px solid black;
z-index:10;
}